In [143]:
import pandas as pd
df = pd.read_csv("heart_disease_uci.csv") 
df

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [144]:
df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [145]:
df = df.dropna()
df.isnull().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [146]:
# drop columns I wont use
df = df.drop(columns=['id', 'dataset', 'exang', 'oldpeak', 'slope', 'ca'])
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,thal,num
0,63,Male,typical angina,145.0,233.0,True,lv hypertrophy,150.0,fixed defect,0
1,67,Male,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,normal,2
2,67,Male,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,reversable defect,1
3,37,Male,non-anginal,130.0,250.0,False,normal,187.0,normal,0
4,41,Female,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,normal,0
...,...,...,...,...,...,...,...,...,...,...
299,68,Male,asymptomatic,144.0,193.0,True,normal,141.0,reversable defect,2
300,57,Male,asymptomatic,130.0,131.0,False,normal,115.0,reversable defect,3
301,57,Female,atypical angina,130.0,236.0,False,lv hypertrophy,174.0,normal,1
508,47,Male,asymptomatic,150.0,226.0,False,normal,98.0,reversable defect,1
748,56,Male,asymptomatic,120.0,100.0,False,normal,120.0,reversable defect,1

In [147]:
# Print all unique values
df['num'].unique()

# Get a frequency count of all values
df['num'].value_counts()

num
0    160
1     56
2     35
3     35
4     13
Name: count, dtype: int64

In [148]:
# replacing categorical data with numbers
df['sex'].replace(['Male', 'Female'],[0, 1], inplace=True)
df['cp'].replace(['asymptomatic', 'non-anginal', 'atypical angina', 'typical angina' ],[0, 1, 2, 3], inplace=True)
# df['fbs'].replace(['False', 'True'],[0, 1], inplace=True)
df['restecg'].replace(['normal', 'lv hypertrophy', 'st-t abnormality'],[0, 1, 2], inplace=True)
df['thal'].replace(['normal', 'reversable defect', 'fixed defect'],[0, 1, 2], inplace=True)

df['fbs'] = df['fbs'].astype(int)
df['num'] = df['num'].apply(lambda x: 1 if x > 1 else x)

In [149]:
# check for null values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
thal        0
num         0
dtype: int64

In [150]:
df = df.dropna()
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
thal        0
num         0
dtype: int64

In [151]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,thal,num
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,54.521739,0.32107,0.836120,131.715719,246.785953,0.143813,0.515050,149.327759,0.511706,0.464883
std,9.030264,0.46767,0.964069,17.747751,52.532582,0.351488,0.526742,23.121062,0.609514,0.499601
min,29.000000,0.00000,0.000000,94.000000,100.000000,0.000000,0.000000,71.000000,0.000000,0.000000
25%,48.000000,0.00000,0.000000,120.000000,211.000000,0.000000,0.000000,132.500000,0.000000,0.000000
50%,56.000000,0.00000,1.000000,130.000000,242.000000,0.000000,1.000000,152.000000,0.000000,0.000000
75%,61.000000,1.00000,1.000000,140.000000,275.500000,0.000000,1.000000,165.500000,1.000000,1.000000
max,77.000000,1.00000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,2.000000,1.000000

In [152]:
df.to_csv('cleaned_heart.csv', index=False)